/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: white;
}

@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-purple);
$accent: mat-palette($mat-green);
$warn: mat-palette($mat-red);

$custom-theme: mat-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

// Include Angular Material theme styles
@include angular-material-theme($custom-theme);

// Custom styles for better visibility
.mat-button {
  color: mat-color($primary); // Use contrast color for buttons
}

.mat-form-field {
  .mat-form-field-label {
    color: mat-color($accent); // Label color
  }

  .mat-form-field-outline {
    border-color: mat-color($primary); // Outline color
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: mat-color($primary);
  }
}
